<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
    <title>Campestre Barber & Sports</title>

  </head>

<!-- <nav>
  <a routerLink="/home">Home</a>
  <a routerLink="/services">Services</a>
  <a routerLink="/team">Team</a>
  <a routerLink="/contact">Contact</a>
</nav> -->

  <section class="header">
    <div class="image-container">
      <img class="imagem" src="assets/logo.jpg" alt="Logomarca">
      <img class="imagem2" src="assets/listras.png" alt="Listras diagonais vermelhas e azuis">

    </div>
    <div class="home">
      <div class="content-container">
        <img class="barbearia" src="assets/barbearia.jpg" alt="barbearia">
        <p class="main-heading">SEJA BEM-VINDO!</p>

        <div class="card">
          <p-toolbar>
            <div class="p-toolbar-start">
              <a routerLink="/home" class="mr-2" pButton label=" Home " icon="pi pi-check"></a>
              <a routerLink="/login" class="mr-2" pButton label=" Login " icon="pi pi-user"></a>
              <a routerLink="/produtos" class="mr-2" pButton label=" Mapa " icon="pi pi-search"></a>
              <a routerLink="/contato" class="mr-2" pButton label=" Agendar " icon="pi pi-calendar"></a>
            </div>
          </p-toolbar>
        </div>

    </div>
    </div>
  </section>

